<div id="title-screen">
  <%= image_tag("title.png", class: "title") %>
  <p class="screen-text"><strong style="color: #6E747D">[START]</strong> New Game</p>
  <p class="screen-text"><strong style="color: #6E747D">[SELECT]</strong> Load Game</p>
</div>